 @font-face{
    font-family:receipt_wide;
    src : url('/MerchantCopyWide.ttf');
}
@font-face{
    font-family:receipt_doublesize;
    src : url('/MerchantCopyDoublesize.ttf');
}
@font-face{
    font-family:receipt;
    src : url('/MerchantCopy.ttf');
}
html{
    image-rendering: pixelated;
    font-family:receipt;
    /* overflow:hidden; */
}
input{
    font-family: receipt;
}
#gui{
    display:grid;
    grid-template-areas:"title title title buffer"
                        "title title title preview"
                        "blank1 buttons blank2 preview";
    grid-template-columns: 50px 390px 80px 600px;
    grid-template-rows: 10px 220px auto;
    width:1000px;
    height:100vh;
    margin:auto;
    /* margin-top:20px; */
}
#title{
    font-family:receipt_wide;
    font-size:50px;
    /* color:rgb(113, 136, 0); */
    color:white;
    mix-blend-mode:difference;
    grid-area:title;
    position:absolute;
    width:100px;
    padding-top:30px;
    padding-left:60px;
    /* left:100px; */
}
#p5canvas{
    grid-area:title;
}
#button_holder{
    grid-area:buttons;
    display:flex;
    flex-direction: column;
    width:fit-content;
    /* width:100%; */
}
.control_header{
    padding:0px;
    margin:0px;
    margin-top:20px;
    margin-bottom:10px;
}
.control_button{
    padding:10px;
    /* min-width:50px; */
    /* height:50px; */
    border:black 1px solid;
    margin:2px;
    cursor:pointer;
    transition:0.1s;
    background-color: rgb(247, 247, 240);
}
.control_button:hover{
    background-color:blue;
    color:white;
}
.image_button{
    color:transparent;
}
.image_button:hover{
    color:white;
}

select{
    font-family:receipt_wide;
    text-align:center;
    height:25px;
    margin-left:10px;
    margin-right:10px;
    min-width:50px;
    border:black 1px solid;
    cursor:pointer;
    transition:0.1s;
    background-color: rgb(247, 247, 240);
}
select:hover{
    background-color:blue;
}

    /* file dropper */
#drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 576;
    height: 50px;
    padding: 1em;
    border: 1px solid rgb(113, 136, 0);
    border-radius: 4px;
    color: rgb(113, 136, 0);
    background-color: beige;
    cursor: pointer;
    transition:0.1s;
}
#drop-zone:hover{
    background-color:blue;
}
#file-input {
    display: none;
}
.upload_image_preview{
    border:1px solid transparent;
}
.upload_image_preview:hover{
    border:1px solid blue;
}
#preview_holder{
    grid-area:preview;
    height:100%;
    width:100%;
    overflow:visible;
    overflow-y: scroll;
    border:none;
    margin:none;
    padding:none;
}
/* flex container */
#preview{
    display:flex;
    background-color: rgb(255, 255, 255);
    width:576px;
    font-size:34px;
    min-height:80%;
    border:none;
    box-shadow: 10px 5px 10px rgb(40, 48, 0);;
    margin:none;
    margin-top:10%;
    padding:none;
    border-radius: 1px;
    font-family:receipt;
    overflow:visible;
    flex-direction: column;
    align-items: flex-start;
    white-space-collapse: preserve-breaks;
    color:rgb(56, 56, 56);
}

#preview img{
    flex: 0 0 auto; /* do not grow or shrink */
    width: auto;    /* ensures no forced scaling */
    height: auto;   /* keeps original height */
}

#preview img:hover{
    filter:brightness(0.7);
}

.preview_row .cancel_button{
    visibility:hidden;
}
.preview_row:hover .cancel_button{
    visibility:visible;
}
.preview_item{
    border:1px solid transparent;
}
.preview_row:hover .preview_item{
    border:1px solid blue;
    cursor:pointer;
}

textarea {
    resize: none;
    /* background-repeat: ; */
}
