 @font-face{
    font-family:receipt_wide;
    src : url('merchant-copy-font/MerchantCopyWide.ttf');
}
@font-face{
    font-family:receipt_doublesize;
    src : url('merchant-copy-font/MerchantCopyDoublesize.ttf');
}
@font-face{
    font-family:receipt;
    src : url('merchant-copy-font/MerchantCopy.ttf');
}
html{
    image-rendering: pixelated;
    font-family:receipt;
    /* overflow:hidden; */
}
input{
    font-family: receipt;
}
#gui{
    display:grid;
    grid-template-areas:"title title title buffer"
                        "title title title preview"
                        "blank1 buttons blank2 preview";
    grid-template-columns: 50px 350px 50px 600px;
    grid-template-rows: 10px 220px auto;
    width:1000px;
    height:100vh;
    margin:auto;
    /* margin-top:20px; */
}
#title{
    font-family:receipt_wide;
    font-size:50px;
    /* color:rgb(113, 136, 0); */
    color:white;
    mix-blend-mode:difference;
    grid-area:title;
    position:absolute;
    width:100px;
    padding-top:30px;
    padding-left:60px;
    /* left:100px; */
}
#p5canvas{
    grid-area:title;
}
#button_holder{
    grid-area:buttons;
    display:flex;
    flex-direction: column;
    width:fit-content;
    /* width:100%; */
}
.control_header{
    padding:0px;
    margin:0px;
    margin-top:20px;
    margin-bottom:10px;
}
.control_button{
    min-width:50px;
    height:50px;
    border:black 1px solid;
    margin:2px;
    cursor:pointer;
    transition:0.1s;
    background-color: rgb(247, 247, 240);
}
.control_button:hover{
    background-color:blue;
}
select{
    font-family:receipt_wide;
    text-align:center;
    height:25px;
    margin-left:10px;
    margin-right:10px;
    min-width:50px;
    border:black 1px solid;
    cursor:pointer;
    transition:0.1s;
    background-color: rgb(247, 247, 240);
}
select:hover{
    background-color:blue;
}

    /* file dropper */
#drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 576;
    height: 100px;
    padding: 1em;
    border: 1px solid rgb(113, 136, 0);
    border-radius: 4px;
    color: rgb(113, 136, 0);
    background-color: beige;
    cursor: pointer;
    transition:0.1s;
}
#drop-zone:hover{
    background-color:blue;
}
#file-input {
    display: none;
}
#preview_holder{
    grid-area:preview;
    height:fit-content;
    height:100%;
    width:100%;
    overflow-y: scroll;
    border:none;
    margin:none;
    padding:none;
}
#preview{
    height:fit-content;
    /* min-height:80%; */
    background-color: rgb(247, 247, 240);
    width:576px;
    font-size:34px;
    border:none;
    box-shadow: 10px 5px 10px rgb(40, 48, 0);;
    margin:none;
    margin-top:20px;
    padding:none;
    /* display:block; */
    display:flex;
    border-radius: 12px;
    /* flex-direction: column; */
    font-family:receipt;
    /* white-space: pre; */
    overflow-wrap: anywhere;
    /* justify-content: right; */
}

.image_preview{
    display:flex;
}

textarea {
    resize: none;
}
